langchain==0.1.11
chromadb==0.4.24
urllib3==2.2.1
PyMuPDF==1.23.26
python-dotenv==1.0.1
unstructured==0.12.5
extract-msg==0.48.0
tabulate==0.9.0
pandoc==2.3
pypandoc==1.13
tqdm==4.66.2
sentence_transformers==2.5.1
gunicorn
# langchain-community
python-multipart